{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
    <div class="medium-9 columns">
        <div class="section">
            <div class="section__header">
                <h1 class="section__title">{{ _('badge_add') }}</h1>
            </div>
            <div class="section__body">
                <form method="post">
                    {{ form.form_text({
                        columns:12,
                        label:_('徽章標題（另作徽章懸停時內容）'),
                        name:'title',
                        placeholder:_('title'),
                        autofocus:true
                    }) }}
                    <div class="row">
                    {{ form.form_text({
                        columns:3,
                        label:'徽章簡稱',
                        name:'short',
                        placeholder:_('顯示名，建議3字以內'),
                        autofocus:true,
                        row:false
                    }) }}
                    {{ form.form_text({
                        columns:3,
                        label:'徽章背景色',
                        name:'backgroundColor',
                        placeholder:_('十六進位顏色代碼'),
                        autofocus:true,
                        row:false
                    }) }}
                    {{ form.form_text({
                        columns:3,
                        label:'徽章字體色',
                        name:'fontColor',
                        placeholder:_('十六進位顏色代碼'),
                        autofocus:true,
                        row:false
                    }) }}
                    </div>
                    {{ form.form_text({
                        columns:12,
                        label:'徽章分配',
                        name:'users',
                        help_text:_('徽章欲分配的使用者')
                    }) }}
                    {{ form.form_textarea({
                        columns:null,
                        label:'Description',
                        name:'content',
                        markdown:true
                    }) }}
                    <button type="submit" class="rounded primary button">
                        {{ _('Add') }}
                    </button>
                    <button type="button" class="rounded button" onclick="window.history.go(-1)">
                        {{ _('Cancel') }}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="medium-3 columns">
        {% include 'components/md_hint.html' %}
    </div>
</div>
{% endblock %}